<% content_for :title, "Members - #{@organization.name}" %>

<%= render(OrganizationDashboardShellComponent.new(organization: @organization, active_tab: "members",user_organizations: @user_organizations)) do |shell| %>
  <% shell.with_tab_content do %>
    <div class="org-dash-empty">
      <i class="fa fa-users" aria-hidden="true"></i>
      <p>Members management is coming soon.</p>
    </div>
  <% end %>
<% end %>
