<% content_for :title, "Settings - #{@organization.name}" %>
<% content_for :dashboard_content do %>
  <div class="org-dash-empty">
    <i class="fa fa-cog" aria-hidden="true"></i>
    <p>Settings are coming soon.</p>
  </div>
<% end %>
<%= render "dashboard_shell" %>
