<% content_for :title, "Settings - #{@organization.name}" %>

<%= render(OrganizationDashboardShellComponent.new(organization: @organization, active_tab: "settings")) do |shell| %>
  <% shell.with_tab_content do %>
    <div class="org-dash-empty">
      <i class="fa fa-cog" aria-hidden="true"></i>
      <p>Settings are coming soon.</p>
    </div>
  <% end %>
<% end %>